.playlist {
  flex: 2;
  justify-content: center;
  :not(:last-child) {
    margin-bottom: 10px;
  }

  background-color: black;
  color: white;
  padding: 1rem;
}

@media screen and (min-width: 769px) {
  .playlist {
    height: 100vh;
    overflow-y: scroll;
  }
}
